# Ignore file for Docker build

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/yarn-error.log

# Ignore Byebug command history file.
.byebug_history

# Ignore Node.js built modules
/node_modules

# Ignore local environment files
.env
manifest.yml

# Build files
build/*
Dockerfile
docker-compose.yml

# Ignore other ignore files
.gitignore
.cfignore

# READMEs
README*

# Ignore IDE files
.idea/

# Ignore system files
.DS_Store
