
/* CUSTOMIZE THE CAROUSEL
from https://getbootstrap.com/examples/carousel/
-------------------------------------------------- */
$carousel-height: 600px;

/* Carousel base class */
#carousel {
  @extend .grey-border;
  
  background-color: #FFFFFF;

  img {
    width: 100%;
    min-width: 100px;
  }

  .carousel-description {
    h1 {
      font-size: 67.2px;
      color: #1e2226;
    }

    .vert-sep {
      height: 35px;
    }
  }
}

.vertical-align {
  padding: 5%;
}