/** TOP NAVBAR */

.navbar-default {
  .dropdown:hover, .dropup:hover {
    background-color: #65c95f;
  }
}

.top-navbar {
  background-color: #1e2226;
}

/** MAIN NAVBAR */
$main-navbar-height: 100px;

#main-navbar {
  height: $main-navbar-height !important;
  background-color: #434343;
  
  .dropdown {
    height: 100%;
    > * {
      line-height: $main-navbar-height;
      padding: 0 20px;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: #ffffff;
    }
  }
  
  .open > a {
    background-color: #60ed57;
  }
  
  > * {
    height: 100%;
    line-height: $main-navbar-height !important;
  }
  
  .navbar-collapse > * {
    height: $main-navbar-height !important;
  }
  
  .navbar-brand {
    padding: 0 40px;
    line-height: $main-navbar-height;
    
    .company-name {
      font-family: 'Montserrat';
      font-size: 36px;
      font-weight: bold;
      font-style: italic;
      color: #ffffff;
      letter-spacing: 1.5px;
    }
  }
}

.navbar-form {
  margin: 0;
}