// Place all the styles related to the shipping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shipping_images_container {
  display: flex;
  justify-content: center;
  img {
    max-height: 100px;
  }
}

.center-container {
  text-align:center;
}

.bold {
  font-weight: bold;
}

.header_margins {
  margin-top: 20px;
  margin-bottom: 10px;
}

.header_row {
  font-size: 30px;
  th {
    text-align:center;
  }
}

#shipping-input-container {
  height: 100%;
  margin-bottom: -220px
}

#shipping-input {
  margin: auto;
  max-width: 600px;
}

#shipping-input-table {
  th {
    padding: 14px;
    vertical-align: middle;
    font-size: 18px;
    > * {
      margin: 0;
    }
  }
  td {
    padding: auto;
    vertical-align: middle;
    font-size: 16px;
  }
}

#shipping-output {
  margin: auto;
  max-width: 1000px;
}

#output_table_container {
  vertical-align: middle;
}

#output_table {
  margin: auto;
  
  th {
    font-size: 42px;
    text-align:center;
    vertical-align: middle;
    padding-left: 1em;
  }
}
