
/** SHOPPING CART
-------------------------------------------------- */

#shopping-cart {
  width: 100%;
  
  img {
    height: 10em;
    float: left;
  }
  
  td {
    border-bottom: solid 1.8px #979797;
    padding: 1em;
  }
  
  .in-stock {
    color: green;
  }
  
  .coming-soon {
    color: darkgoldenrod;
  }
}

.quantity-select {
  width: 96px;
  height: 40px;
  border-radius: 1.8px;
  background-color: #ffffff;
  border: solid 0.9px #cccccc;
}