
/** SHOPPING CART
-------------------------------------------------- */

#shopping-cart-title {
  margin-top: 50px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #1e2226;
}

#shopping-cart {
  width: 100%;
  
  img {
    height: 10em;
    float: left;
  }
  
  th {
    text-align: right;
  }
  
  th,td {
    border-bottom: solid 1.8px #979797;
    padding: 1em;
  }
  
  .product-name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.15;
  }
  
  .in-stock {
    font-size: 17.7px;
    font-weight: bold;
    color: #4adc7d;
  }
  
  .coming-soon {
    font-size: 17.7px;
    font-weight: bold;
    color: darkgoldenrod;
  }
  
  .price {
    text-align: right;
  }
}

.quantity-select {
  width: 96px;
  height: 40px;
  border-radius: 1.8px;
  background-color: #ffffff;
  border: solid 0.9px #cccccc;
}

#subtotal {
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #1e2226;
}