
// Custom additions to thumbnail

.thumbnail {
  height: 460px;
  padding: 8px;
  border: solid 1px #e8e8e8;
  border-radius: 0;
  
  .product-image {
    width: 100%;
    height: 300px;
    display: table;
    > div {
      display: table-cell;
      vertical-align: middle;
      img {
        max-height: 300px;
      }
    }
  }
  
  .caption {
    > .product-name > * {
      color: #1e2226;
    }
    > .brand-name {
      color: #c6c6c6;
    }
    > .price {
      font-size: 18px;
      font-weight: bold;
      color: #898989;
    }
  }
  
  .caption {
    margin: auto 3em;
  }
  
  .thumbnail-cart-button > * {
    float: right;
  }
  
}