<div id="carousel" class="row">
  <div class="col-md-7"><%= image_tag @deal.src.image.url %></div>
  <div class="col-md-5 vertical-align">
    <div class="carousel-description trade-gothic">
      <h1><%= @deal.src.name %></h1>
      <div class="vert-sep"></div>
      <h3><%= @deal.description %></h3>
      <div class="vert-sep"></div>
      <p><%= render partial: 'products/details_button', locals: {product: @deal.src} %></p>
    </div>
  </div>
</div>