<ul id="nav" class="nav nav-tabs">
  <!--<li role="presentation" class="active"><a href="#"></a></li>-->
  <li role="presentation" id="categories">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% Category.all.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </li>
  <li role="presentation" id="brands">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% Brand.all.each do |brand| %>
          <li><%= link_to brand.name, brand_path(brand) %></li>
      <% end %>
    </ul>
  </li>
  <li role="presentation"><a href="#">Deals</a></li>
</ul>