<h1><%= company_name %></h1>
<p>The World's Smartest Consumer Electronics Retail Store</p>
<br>
<ul id="nav" class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Categories</a></li>
  <li role="presentation"><a href="#">Brands</a></li>
  <li role="presentation"><a href="#">Deals</a></li>
</ul>