// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** TOP NAVBAR */
$top-navbar-height: 40px;

.top-navbar {
  height: $top-navbar-height !important;
  .navbar-collapse {
    height: $top-navbar-height !important;
  }
  .nav > * > * {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .login {
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0.8px;
    color: #737373;
  }
  
  .cart-price {
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.8px;
    color: #737373;
  }
  
  .cart-button {
    width: 162px;
    height: $top-navbar-height;
    background-color: #dedede;
  }
}

/** MAIN NAVBAR */
$main-navbar-height: 93px;

.main-navbar {
  height: $main-navbar-height !important;
  background-color: #ffffff;
  
  .dropdown {
    height: 100%;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #1e2226;
    > * {
      height: 100%;
      padding: 0 20px;
      line-height: $main-navbar-height;
    }
  }
  
  > * {
    height: 100%;
    line-height: $main-navbar-height !important;
  }
  
  .navbar-collapse > * {
    height: $main-navbar-height !important;
  }
  
  .navbar-brand {
    padding: 0 40px;
    line-height: $main-navbar-height;
  
    .company-name {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      color: #1e2226;
    }
  }
}

.trade-gothic {
  font-family: font132426;
}

/** IMAGES */

// Custom additions to thumbnail
.thumbnail {
  min-height: 344px;
  padding: 8px;
}

.product-image {
  line-height: 100%;
}

.product-image img {
  max-height: 400px;
}

.product-buttons {
  position: absolute;
  bottom: 2px;
}


/* CUSTOMIZE THE CAROUSEL
from https://getbootstrap.com/examples/carousel/
-------------------------------------------------- */
$carousel-height: 600px;

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
  
  /* Declare heights because of positioning of img element */
  .item {
    background-color: #FFFFFF;
    
    .item-content {
      display:table;
      width: 100%;
      height: 100%;
      
      > div {
        display: table-cell;
        vertical-align: top;
      }
      
      img {
        max-width: 80vw;
        max-height: $carousel-height;
      }
      
      .carousel-description {
        text-align: right;
        height: 100%;
        padding-top: 10em;
        padding-right: 10vw;
        
        h1 {
          font-size: 67.2px;
          color: #1e2226;
        }
        
        .vert-sep {
          height: 35px;
        }
        
        .btn {
          background-color: #414141;
          border-radius: 0;
        }
      }
    }
  }
}

/** SHOPPING CART */

.shopping-cart {
  width: 100%;
  
  img {
    height: 10em;
    float: left;
  }
  
  tr > td {
    padding-bottom: 1em;
  }
  
  .in-stock {
    color: green;
  }
  
  .coming-soon {
    color: darkgoldenrod;
  }
}