// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** Images */
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

// Custom additions to thumbnail
.thumbnail {
  min-height: 344px;
  padding: 8px;
}

.product-image {
  //height: calc(100% - 130px);
  line-height: 100%;
}

.product-buttons {
  position: absolute;
  bottom: 2px;
}