// Custom additions to thumbnail

.thumbnail {
  height: 432px;
  padding: 8px;
  border: solid 1px #e8e8e8;
  border-radius: 0;
  
  .product-image {
    line-height: 100%;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    img {
      max-height: 300px;
    }
  }
  
  .caption {
    .product-name > * {
      color: #1e2226;
    }
    .brand-name {
      color: #c6c6c6;
    }
  }
  
  .thumbnail-cart-button > * {
    float: right;
  }
  
}