<h1><%= @category.name %></h1>
<%= render partial: 'products/thumbnails', locals: {products: @category.products} %>

<%= render 'messages/chat_window' if customer_signed_in? and @category.name == 'Smartphones' %>