<div id="footer">
  
  <% unless controller_path == 'shipping' %>
  <div class="links">
    <div>
      <div>PRIVACY & COOKIES</div>
      <div>TERMS & CONDITIONS</div>
      <div>STORE DIRECTORY</div>
      <div>ABOUT US</div>
    </div>
  </div>
  
  <div class="motto">
    We’ve got the best stuff!
  </div>

  <%= render 'application/top_navbar' %>
  <% end %>
  
</div>