<% if product.preorder %>
  <a href="#" class="btn btn-lg btn-warning" role="button">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Pre-Order
  </a>
<% else %>
  <a href="#" class="btn btn-lg btn-success" role="button">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart
  </a>
<% end %>